
.gray {
  --background-color: #525252;
}

.yellow {
  --background-color: #eab308;
}

.green {
  --background-color: #16a34a;
}

.flip-animation {
  animation: flip 0.7s ease-in-out forwards;
}

.square:nth-of-type(2) > div {
  animation-delay: 0.2s;
}

.square:nth-of-type(3) > div {
  animation-delay: 0.4s;
}

.square:nth-of-type(4) > div {
  animation-delay: 0.6s;
}

.square:nth-of-type(5) > div {
  animation-delay: 0.8s;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: transparent;
  }
  45% {
    transform: rotateX(90deg);
    background-color: transparent;
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);

  }
}